table
    {
        width: 1000px;
        margin-bottom: 150px;
    }
    tr
    {
        height: 50px;
    }
    td
    {
        width: 30px;
        max-width: 30px;
        text-align: center;
        border-style: outset;
        font-family: Arial; 
        background-color: rgb(220, 220, 220);
        border-width: 3px;
    }
    td.gray
    {
         background-color: rgb(199, 199, 199);
    }
    td.flag
    {
        width: 10px;
        max-width: 10px;
    }
    img.medal
    {
        width: 38px;
        max-width: 38px;
        height: 38px;
        max-height: 38px;
    }
    img.main
    {
        width: 200px;
        max-width: 200px;
        height: 200px;
        max-height: 200px;
    }
    img.main2
    {
        width: 250px;
        max-width: 250px;
        height: 130px;
        max-height: 130px;
        margin-bottom: 25px;
    }
    td.name
    {
        width: 80px;
        max-width: 80px;
    }
    #font
    {
        font-size: 15pt;
    }
    img.a
    {
     height: 30px;
     width: 50px;
    }
    .title
    {
        font-size: 85px;
    }
    tr.submedal
    {
        height: 200px;
    }
    tr.submedal
    {
        height: 100px;
    }
    td.transparent
    {
        background-color: transparent;
        border-color: transparent;
    }
    .transparent.smaller
    {
        width: 2px;
    }
    .letter
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 100px;
    }
    .link
    {
        text-decoration: none;
        color: black;
    }
    